
{% load i18n %}
{% load static %}

<div id="address_modal" class="modal hide fade" role="dialog" aria-hidden="true">
<form id="address_form" class="form" method="post">{% csrf_token %}
<div class="modal-dialog">
<div class="modal-content">
	
	<div class="modal-header">
		<h5 class="modal-title">{% trans "Address" %}</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

    <div class="modal-body">
	<div class="form-group">
		<label id="address"></label>
		<div id="address_qrcode"></div>
	</div>
    </div>
    
	<div class="modal-footer">
		<button id="address_modal_close" type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
    </div>

</div>

</div>
</form>
</div>

