
{% load i18n %}
{% load static %}

<div id="send_modal" class="modal hide fade" role="dialog" aria-hidden="true">
<form id="send_form" class="form" method="post">{% csrf_token %}
<div class="modal-dialog">
<div class="modal-content">
	
	<div class="modal-header">
		<h5 id="send_modal_title" class="modal-title"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

    <div class="modal-body">
	<div class="form-group">
		
		<label for="send_address">{% trans "Address" %}</label>
		<input id="send_address" class="form-control" placeholder="{% trans "Address" %}" required autofocus/>

		<label for="send_amount">{% trans "Amount" %}</label>
		<input id="send_amount" type="number" class="form-control" placeholder="0" required/>

		<div class="invalid-feedback" id="send_error_message"></div>

	</div>
    </div>
    
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
		<button id="send_submit" type="button" class="btn btn-primary">{% trans "Send" %} </button>
    </div>

</div>

<script src="{% static "js/send_modal.js" %}"></script>

</div>
</form>
</div>

